==
{% set feautured_url = 'storage/app/media' ~ project.featured_media %}

<div class="hero-intro single-intro" data-aos="fade-up" data-aos-duration="1000">
	<div class="intro-left">
	<h5>{{ project.title|raw }}</h5>
	{{ project.subtitle|raw }}
	</div>
	<div class="intro-right">
		<h5>What we did</h5>
		<ul>
		{% for scope in scopes %}
			<li>{{ scope.name }}</li>
		{% endfor %}
		</ul>
	</div>
	 <div class="scroll-down">
    	<span class="decor-line"></span>
    	<i class="icon-down-arrow"></i>
    </div>
</div>
<div class="single-feuatured first" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
	{% if project.is_video %}
		<div class="video-wrapper">
			<video src="{{ url(feautured_url) }}" autoplay playsinline loop muted></video>
		</div>
	{% else %}
		<div class="image-wrapper">
			<img src="{{ url(feautured_url) }}">
		</div>
	{% endif %}
</div>
<div class="single-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
	{{ project.content|raw }}
</div>
<div class="single-gallery">
	{% for item in gallery %}
		{% set item_url = 'storage/app/media' ~ item.media %}
		<div class="{{ item.position }} {{ item.size }}">
			{% if item.is_video %}
				<div class="video-wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
					<video src="{{ url(item_url) }}" autoplay playsinline loop muted></video>
				</div>
			{% else %}
				{% if item.media %}
				<div class="image-wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
					<img src="{{ url(item_url) }}">
				</div>
				{% else %}
				<div class="text-wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
					<div class="text">
						{{ item.gallery_content|raw }}
					</div>
				</div>
				{% endif %}
			{% endif %}
		</div>
	{% endfor %}
</div>
<div class="single-nav">
    <nav aria-label="pagination">
        <ul class="pagination pagination-lg pg-blue">
            {% if prevProject %}

            <!--Arrow left-->
            <li class="page-item prev">
                <a class="page-link" href="/project/{{ prevProject.slug }}" aria-label="Previous">
                	<i class="icon-prev"></i>
                    <span class="sr-only">Previous project</span>
                </a>
            </li>

            {% endif %}

            <!--Arrow right-->
            {% if nextProject %}

            <li class="page-item next">
                <a class="page-link" href="/project/{{ nextProject.slug }}" aria-label="Next">
                	<i class="icon-next"></i>
                    <span class="sr-only">Next project</span>
                </a>
            </li>

            {% endif %}
        </ul>
    </nav>
</div>