//-------------------------
//----------- FOOTER
//-------------------------

.footer {
	width: 100%;
	height: auto;
	overflow: hidden;

	&__top {
		position: relative;
		padding: 11.4rem 0 12.4rem;
		width: 100%;
		height: auto;
		overflow: hidden;
		@include breakpoint(tablet--landscape) {
			padding: 10rem 4rem 9rem;
		}
		.container {
			position: relative;
			padding-right: 20rem;
			z-index: 4;
			@include breakpoint(tablet--landscape) {
				width: 100%;
				padding: 0;
				margin-left: 0;
			}
		}
		h2,h3,h1 {
			margin-bottom: 5rem;
			font-family: $styledFont-bold;
			font-size: 45px;
			@include breakpoint(desktop-fit) {
				font-size: 38px;
			}
			@include breakpoint(tablet--landscape) {
				margin-bottom: 7rem;
				font-size: 5rem;
			}
		}
		p {
			margin-bottom: 4rem;
			font-size: 20px;
			line-height: 1.8;
			&:last-child {
				margin-bottom: 0;
			}
			@include breakpoint(desktop-fit) {
				font-size: 18px;
			}
			@include breakpoint(tablet--landscape) {
				margin-bottom: 6rem;
				font-size: 3rem;
			}
		}
		a {
			position: relative;
			float: left;
			display: block;
			font-family: $baseFont-med;
			font-size: 20px;
			color: $c-black;
			@include breakpoint(desktop-fit) {
				font-size: 18px;
			}
			@include breakpoint(tablet--landscape) {
				font-size: 3rem;
			}
			&:after {
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 2px;
				content: "";
				background-color: $c-black;
			}
		}
		&:after {
			display: block;
			position: absolute;
			top: 0rem;
			left: 0;
			content: "";
			width: 72%;
			height: 100%;
			background-color: $c-mainGrey;
			z-index: 1;
			@include breakpoint(tablet--landscape) {
				width: 100%;
			} 
		}
	}
	&__bottom {
		@extend %clearfix;
		padding: 3.7rem 8rem 2rem;
		@include breakpoint(tablet--landscape) {
			padding: 7rem 4rem 4.5rem;
		}
		.social {
			float: left;
			@include breakpoint(tablet--landscape) {
				float: none;
				display: block;
				margin-bottom: 6rem;
			}
			li a {
				font-size: 16px;
				@include breakpoint(desktop-fit) {
					font-size: 14px;
				}
				@include breakpoint(tablet--landscape) {
					font-size: 2.4rem;
				} 
			}
		}
		.credit {
			float: right;
			font-size: 12px;
			color: $c-fontGrey;
			@include breakpoint(desktop-fit) {
				font-size: 10px;
			}
			@include breakpoint(tablet--landscape) {
				float: none;
				display: block;
				font-size: 1.8rem;
			}
		}
	}
}

