==
{{ form_ajax(__SELF__ ~ '::onFormSubmit') }}

    <div id="{{ __SELF__ }}_forms_flash"></div>

    <p>Fields marked as <i>*</i> are required</p>
    <div class="form__top">
        <div class="input-wrapper">
            <input type="text" id="name" name="name" class="form-control" placeholder="First Name *">
        </div>
        
        <div class="input-wrapper">
            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name *">
        </div>

        <div class="input-wrapper">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email *">
        </div>
        
        <div class="input-wrapper">
            <input type="text" id="company" name="company" class="form-control" placeholder="Company Name *">
        </div>
        
        <div class="input-wrapper">
            <input type="text" id="website" name="website" class="form-control" placeholder="Website *">
        </div>
         <div class="input-wrapper">
            <label for="country"></label>
            <select type="text" id="country" name="country" class="form-control" placeholder="Country *">
                <option value="default">Country:</option>
                <option value="Lead">Lead</option>
                <option value="Senior">Senior</option>
                <option value="Direct">Direct</option>
                <option value="Corporate">Corporate</option>
                <option value="Dynamic">Dynamic</option>
            </select>
        </div>
    </div>
   



    <div class="form__check">
        <h5>I'm Interested In:</h5>
        <div class="columns">
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-1"/><label for="check-1">Brand Strategy</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-2" /><label for="check-2">Packaging Design</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-3" /><label for="check-3">Collateral Design</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-4" /><label for="check-4">Brand Visual Identity</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-5" /><label for="check-5">Website</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-6" /><label for="check-6">Other</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-7" /><label for="check-7">Brand Name</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="interestedin[]" id="check-8" /><label for="check-8">Mobile App</label>
                <span class="checkmark">&nbsp;</span>
            </div>
        </div>    
    </div>
    
    <div class="form__text">
        <textarea name="message" placeholder="What are you working on? Tell us as much as you can about the project *"></textarea>
    </div>
    
    <hr>

     <div class="form__check">
        <h5>Budget Range. Select appropriate:</h5>
        <div class="columns"> 
            <div class="check-wrapper">
                <input type="checkbox" name="budget[]" id="check-9"/><label for="check-9">5 - 10k</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="budget[]" id="check-11" /><label for="check-11">10 - 25k</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="budget[]" id="check-12" /><label for="check-12">25 - 50k</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <div class="check-wrapper">
                <input type="checkbox" name="budget[]" id="check-10" /><label for="check-10">50 - 150k</label>
                <span class="checkmark">&nbsp;</span>
            </div>
            <label>Other:</label>
                <div class="other"><input type="text" name="budget[]" placeholder="Enter budget" /></div>
           
        </div>
    </div>
 
 
     <div class="check-wrapper tips">
        <input type="checkbox" name="subscribed" checked="checked" id="check-13"/><label for="check-13">I'd love to receive inspiring tips to grow my brand and business</label> 
        <span class="checkmark">&nbsp;</span>				
    </div>
    
    <p>Confirm that you are not a bot <i>*</i></p>
    <div class="form__captcha">
        {% partial '@recaptcha' %}
    </div>
    <div class="btn-submit">
    {{ form_submit('Send my message') }}
    </div>

{{ form_close() }}